* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #607E72;
}

.box2 {
    width: 100%;
    height: 85%;
    background-color: #C7F8EF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
}

.box2__item1 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 335px;
    height: 520px;
    background-color: #91C0DA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box .box__item1 {
    width: 90%;
    height: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.box .box__item2 {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 36px;
}

.box .box__item2 .box__time2 {
    width: 140px;
    height: 55px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .box__item2 .box__time2 .box__time2__item1 {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.box .box__item2 .box__time2 .box__time2__item2 {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box .box__item2 button {
    width: 221px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #60E46D;
    border: none;
    border-radius: 10px;
    margin-left: 40px;
}

form {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2__item2 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.input {
    width: 380px;
    height: 80px;
    background-color: #6FE5D0;
    border: none;
    border-radius: 15px;
    font-size: 24px;
    padding: 10px;
}
.box2__item2__time4 button{
    width: 220px;
    height: 60px;
    background-color: #60E46D;
    border-radius: 15px;
    font-size: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}