{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Product</title>
{% endblock %}
{% block body %}
    <div class="box2">
        <div class="box2__item1">
            <p>AIKO IZZI Диван раскладной</p>
        </div>
        <div class="box2__item2">
            <div class="box2__item2__time1">
                <img src="../static/rasmlar/Rectangle%2010.png" alt="">
            </div>
            <div class="box2__item2__time2">
                <div class="box1">
                    <p>Narhi: 2 250 000 sum</p>
                </div>
                <div class="box2">
                    <p>Malumot:</p>
                </div>
                <div class="box3">
                    <div class="box3__item1">
                        <div class="box3__item1__time1">
                            <p>1</p>
                        </div>
                        <div class="box3__item1__time2">
                            <img src="../static/rasmlar/Polygon%201.png" alt="">
                            <img src="../static/rasmlar/Polygon%203.png" alt="">
                        </div>
                    </div>
                    <button>Buyurtma berish</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}