{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="../static/css/style2.css">
    <title>Product</title>
{% endblock %}
{% block body %}
    <div class="box2">
        <div class="box2__item1">
            <p>{{ product_info.name }}</p>
        </div>
        <div class="box2__item2">
            <div class="box2__item2__time1">
                <img src="../static/rasmlar/Rectangle%2010.png" alt="">
            </div>
            <div class="box2__item2__time2">
                <div class="box1">
                    <p>Narhi: {{ product_info.price }} sum</p>
                </div>
                <div class="box2">
                    <p>Malumot:</p>
                </div>
                <div class="box3">
                    <div class="box3__item1">
                        <div class="box3__item1__time1">
                            <p>1</p>
                        </div>
                        <div class="box3__item1__time2">
                            <img src="../static/rasmlar/Polygon%201.png" alt="">
                            <img src="../static/rasmlar/Polygon%203.png" alt="">
                        </div>
                    </div>
                    <div class="box3__item2">
                        <button>Buyurtma berish</button>
                        <button>O’zgartirish</button>
                    </div>
                    <div class="box3__item3">
                        <button>
                            <a href="{{ url_for('delet_product', product_id=product_info.id) }}">Mahsulotmi o’chirish</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}