{% extends 'index.html' %}
{% block link %}
    <link rel="stylesheet" href="../static/css/style1.css">
    <title>Home</title>
{% endblock %}
{% block body %}

    <div class="box2">
        <div class="box2__item1">
            <p>Mahsulotlar</p>
        </div>
        <div class="box2__item2">
            <a href="{{ url_for("product") }}" class="a">
                <div class="box">
                    <div class="box__item1">
                        <img src="../static/rasmlar/Rectangle%207.png" alt="">
                        <p>AIKO IZZI Диван раскладной</p>
                    </div>
                    <div class="box__item2">
                        <p>2 250 000 sum</p>
                        <div class="box__time2">
                            <div class="box__time2__item1">
                                <p>1</p>
                            </div>
                            <div class="box__time2__item2">
                                <img src="../static/rasmlar/Polygon%201.png" alt="">
                                <img src="../static/rasmlar/Polygon%203.png" alt="">
                            </div>
                        </div>
                        <button>Buyurtma berish</button>
                    </div>
                </div>
            </a>
            <a href="{{ url_for("product") }}" class="a">
                <div class="box">
                    <div class="box__item1">
                        <img src="../static/rasmlar/Rectangle%208.png" alt="">
                        <p>AIKO DALAS Тумба</p>
                    </div>
                    <div class="box__item2">
                        <p>2 250 000 sum</p>
                        <div class="box__time2">
                            <div class="box__time2__item1">
                                <p>1</p>
                            </div>
                            <div class="box__time2__item2">
                                <img src="../static/rasmlar/Polygon%201.png" alt="">
                                <img src="../static/rasmlar/Polygon%203.png" alt="">
                            </div>
                        </div>
                        <button>Buyurtma berish</button>
                    </div>
                </div>
            </a>
            <a href="{{ url_for("product") }}" class="a">
                <div class="box">
                    <div class="box__item1">
                        <img src="../static/rasmlar/Rectangle%209.png" alt="">
                        <p>AIKO DECO 4 Комплект</p>
                    </div>
                    <div class="box__item2">
                        <p>2 250 000 sum</p>
                        <div class="box__time2">
                            <div class="box__time2__item1">
                                <p>1</p>
                            </div>
                            <div class="box__time2__item2">
                                <img src="../static/rasmlar/Polygon%201.png" alt="">
                                <img src="../static/rasmlar/Polygon%203.png" alt="">
                            </div>
                        </div>
                        <button>Buyurtma berish</button>
                    </div>
                </div>
            </a>
            <a href="{{ url_for("product") }}" class="a">
                <div class="box">
                    <div class="box__item1">
                        <img src="../static/rasmlar/Rectangle%206.png" alt="">
                        <p>AIKO DECO Стол обеденный квадратный</p>
                    </div>
                    <div class="box__item2">
                        <p>2 250 000 sum</p>
                        <div class="box__time2">
                            <div class="box__time2__item1">
                                <p>1</p>
                            </div>
                            <div class="box__time2__item2">
                                <img src="../static/rasmlar/Polygon%201.png" alt="">
                                <img src="../static/rasmlar/Polygon%203.png" alt="">
                            </div>
                        </div>
                        <button>Buyurtma berish</button>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}